.container {
  width: 100%;
  padding: 0px;
  top: 0px;
  margin: 0px;
  max-width: 1600px;
  display: table;
  margin: 0 auto;
}

#headlinePicture {
  max-height: 600px;
  width: 100%;
}

#small-text {
  font-size: 1.25em;
  font-weight: 100;
  color: #686868;
  text-align: center;

}

#testimonialTitle {
  font-size: 3em;
  text-align: center;
  color: white;
  margin-bottom: -30px;
  padding-bottom: 0px;
}

.cover {
  object-fit: cover;
}

.people {
  margin-bottom: 150px;
}

.center {
  text-align: center;
  font-size: 2em;
  font-weight: 300;
}

.buttons {
  display: table;
  margin: 0 auto;
}

.button {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  text-align:center;
  display: table;
  position: absolute;

}

.testimonials {
  margin-top: 100px;
}
