.landing {
  width: 100%;
  padding: 0px;
  top: 0px;
  margin: 0px;
  max-width: 1400px;
  display: table;
  margin: 0 auto;
}

#headlinePicture {
  max-height: 600px;
}

.cover {
  object-fit: cover;
}
