.landing {
  width: 100%;
  padding: 0px;
  top: 0px;
  margin: 0px;
  max-width: 1600px;
  display: table;
  margin: 0 auto;
}



#headlinePicture {
  max-height: 600px;
}

#small-text {
  font-size: 1.25em;
  font-weight: 100;
  color: #686868;
}

.cover {
  object-fit: cover;
}

.center {
  text-align: center;
  font-size: 2em;
  font-weight: 300;
}

.buttons {
  display: table;
  margin: 0 auto;
}

.button {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
}
